* {
  margin: 0;
}
/* Header and Nav*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: mediumaquamarine;
  padding-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

header nav {
  padding-right: 40px;
}

/* Content*/

.content {
  display: flex;
  padding-top: 116px;
  justify-content: center;
  width: 100%;
}

/* Large Story*/

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.large-image1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  height: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.large-image1 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-bottom: 20px;

}

.large-image2 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  height: 300px;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  order: 1;
  margin-top: 20px;
}

.large-image2 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.large-image3 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  height: 300px;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  order: 1;
}

.large-image3 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.large-topcontent {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.large-middlecontent {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 300px;

}

.large-bottomcontent {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 300px;
  display: block;
}

.largecolumnleft {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Medium Story*/

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right:20px;
}

.medium-topcontent {
    font-family: Georgia;
    font-size: 17px;
    color: black;
  }

.medium-bottomcontent {
    font-family: Georgia;
    font-size: 17px;
    color: black;
  }

.medium-image1 {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
    height: 300px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.medium-image1 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white
}

/* Small Story*/

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.small-middlecontent h2 {
  padding-bottom: 50px;
  font-size: 16px;
  font-weight: bold;
}

.small-middlecontent {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  text-align: center;

}

.small-middlecontent p {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid black;
}

/*footer*/

footer {
  height: 325px;
  width: 100%;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}
